<a href="https://colab.research.google.com/github/jorgetstechnology/financas/blob/master/calculando_e_coparando_taxas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Calculando e comparando taxas**

Risco x Retorno

In [0]:
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [0]:
#importando dados da Procter & Gamble do Yahoo finance
PG = wb.DataReader('PG', data_source = 'yahoo', start = '1995-1-1')#yahoo finances
#PG.to_csv('pg.csv')

In [0]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   6.400181
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   6.348878
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   6.259093
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   6.271922
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   6.246270

In [0]:
PG.tail() #ultimos dados

                  High         Low  ...     Volume   Adj Close
Date                                ...
2019-12-31  124.989998  123.949997  ...  4798900.0  124.900002
2020-01-02  124.730003  122.940002  ...  8130800.0  123.410004
2020-01-03  123.529999  121.860001  ...  7970500.0  122.580002
2020-01-06  123.190002  122.379997  ...  6674400.0  122.750000
2020-01-07  123.199997  121.874802  ...  4098430.0  122.035004

[5 rows x 6 columns]

# SRT Simple Rate of Return
P1 - P0 / P0 = P1/P0 = 1

P1 - P0 / P0 =>P1 = Preço Dia 1 - P0 = Preço Dia 0/Preço Dia 0

P1/P0 = 1 => Preço Dia 1/P0 = Preço Dia 0 = -1

In [0]:
PG['simple_return'] = (PG['Adj Close']/PG['Adj Close'].shift(1)) - 1 #cria nova coluna simple_return para indicar os preços
print (PG['simple_return'])

Date
1995-01-03         NaN
1995-01-04   -0.008016
1995-01-05   -0.014142
1995-01-06    0.002050
1995-01-09   -0.004090
                ...
2019-12-31    0.003455
2020-01-02   -0.011930
2020-01-03   -0.006726
2020-01-06    0.001387
2020-01-07   -0.005825
Name: simple_return, Length: 6298, dtype: float64

# New Section